.home{
  text-align:center;
  padding-top:2rem;
}

.features{
  display:flex;
  justify-content:center;
  margin-top:3rem;
  flex-wrap:warp;
}

.featureCard{
  background:white;
  padding:2rem;
  border-radius:8px;
  box-shadow:0 2px 8-px rgba(0,0,0,0.1);
  width:280px;
}

.icon{
  font-size:3rem;
  margin-bottom:1rem;
}