.header {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:1.5rem 2rem;
  background-color: white;
}


.logo {
  font-size:1.5rem;
  font-weight:bold;
}


.nav{
  display:flex;
  gap:1.5rem;
  align-items:center;
}


.nav a {
  color:#28112B;
  text-decoration :none;
  margin-left:1.5re;
  font-weight:500;
  transition:color 0.3s;
}

.nav a:hover {
  color:white;
}


.nav a.active { 
  color:#f1c40f;
}

@media (max-width:768px){
  .header{
    flex-direction:column;
    padding:22px 12px;
    gap:14px;
    text-align:center;
  }

  .nav{
    flex-wrap:warp;
    justify-content:contnt;
    gap:12px;
    width:100%;
  }
  .navLink{
    width:100%;
    padding:12px 0;
    margin:0;
  }
}